<h1 id="tableLabel">Ranobes</h1>

<p *ngIf="!ranobes"><em>Loading...</em></p>

<table *ngIf="ranobes">
  <thead>
    <tr>
      <th>English name</th>
      <th>Foreign Name</th>
      <th>Description</th>
      <th>Chapters</th>
      <th>Publish date</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ranobe of ranobes">
      <td>{{ ranobe.englishName }}</td>
      <td>{{ ranobe.foreignName }}</td>
      <td>{{ ranobe.description }}</td>
      <td>{{ ranobe.chapters }}</td>
      <td>{{ ranobe.publishDate }}</td>
      <td>{{ ranobe.status }}</td>
    </tr>
  </tbody>
</table>
