<h2>Ranobe</h2>
<div *ngIf="ranobe">
    <img class="poster" src="assets/img/{{ ranobe.poster }}" />
    <p>Name: {{ ranobe.englishName }}</p>
    <p>Original name: {{ ranobe.foreignName }}</p>
    <p>Description: {{ ranobe.description }}</p>
    <p>Chapters: {{ ranobe.chapters }}</p>
    <p>Publish date: {{ ranobe.publishDate | date: 'shortDate' }}</p>
    <p>Status: {{ ranobe.status }}</p>
    <p>Rating: {{ ranobe.rating }}</p>
    <p>People rated: {{ ranobe.peopleRatedCount }}</p>
    <p>Authors: {{ ranobe.authors}}</p>
</div>